# IMPORTANT : Remplacez 'VOTRE_UUID_ICI' par l'UUID de votre disque/RAID.
# Pour trouver votre UUID, tapez la commande 'lsblk -f' dans le terminal de votre NAS,
# ou consultez l'interface OMV > Stockage > Systèmes de fichiers.
[Unit]
Description=Script de monitoring climatique Arduino
After=network.target

[Service]
ExecStart=/usr/bin/python3 /srv/dev-disk-by-uuid-VOTRE_UUID_ICI/monitoring/monitor_climat.py
WorkingDirectory=/srv/dev-disk-by-uuid-VOTRE_UUID_ICI/monitoring
Restart=always
User=root

[Install]
WantedBy=multi-user.target
